bower_components
node_modules
npm-debug.log

*.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.sass-cache
.tmp

src/css
.idea/

dist/

/index.html
/fittable.js
/fittable.css
/react.js
