footer {
  line-height: 16px;
  padding: 30px 20px;
  font-size: $base-font-size;
  color: $darkgraytext-color;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  i.fa {
    margin-right: 5px;
  }

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;

    li {
      margin: 0px 8px;
      padding: 0;
      display: inline-block;
      font-size: $base-font-size;

      a {
        color: $darkgraytext-color;
        text-decoration: underline;
        font-weight: 700;
        line-height: 16px;
      }

    }
  }

  .build-info {
    margin-top: 6px;
  }
}
