#fittable .functions-sidebar {

  div.function.function-settings {
    padding-bottom: 30px;

    div.toggleable-h {
      margin-bottom: 20px;
      @include disable-selection();

      a {
        display: block;
        background: $light-secondary-color;
        padding: 4px 8px;
        margin-bottom: 1px;

        &.active {
          background: $primary-color;
          color: white;
        }

        &:not(.active):hover {
          background: $secondary-color;
        }

        i.fa {
          margin-right: 13px;
          font-size: 14px;
        }
      }
    }
  }
}

