#fittable .header .functions-bar {
  div.functions {
    position: absolute;
    right: 0px;
    top: 35px;
    z-index: 96;

    h2 {
      color: $primary-color;
      font-weight: 300;
      font-size: 14pt;
      margin: 0px 0px 15px;
    }

    div.function {
      width: 300px;
      background: white;
      padding: 0px 20px;
      color: #333;
      font-size: 9pt;
      opacity: 1;
      transition: opacity .2s, height .2s;

      &.hide {
        display: block !important;
        visibility: hidden;
        opacity: 0;
        height: 0px;
        padding: 0;
        overflow: hidden;
      }
    }

  }
}
