#fittable {
  .function-settings {
    padding-bottom: 30px;
  }

  .settings-toggle {
    margin-bottom: 20px;
    @include disable-selection();
  }

  .settings-toggle-btn {
    display: block;
    width: 100%;
    background: $light-secondary-color;
    color: $primary-color;
    padding: 4px 8px;
    margin-bottom: 1px;

    &:not(.active):hover {
      background: $secondary-color;
    }

    &.active {
      background: $primary-color;
      color: white;
    }


    i.fa {
      margin-right: 13px;
      font-size: 14px;
    }
  }

}
