#fittable .header .functions-bar div.functions {

  div.function.function-filter {

    ul.filtering {
      list-style: none;
      margin: 0 0 20px 0;

      li {
        display: block;
        background: $lightgrayback-color;
        color: $darkgraytext-color;
        font-size: $large-font-size;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 2px;
        transition: color $default-anim-speed, background $default-anim-speed;
        padding: 7px;
        cursor: pointer;

        &:hover {
          background: rgba( $lightgrayback-color, .75 );
        }

        i.fa {
          margin-right: 15px;
        }

        &:not(.active) i.fa {
          visibility: hidden;
        }

        &.active {
          background: $primary-color;
          color: white;

          &:hover {
            background: rgba( $primary-color, .75 );
          }
        }
      }
    }
  }
}
