#fittable .functions-sidebar {
  width: 20%;
  float: right;
  padding: 0 0 0 25px;

  h2 {
    color: $primary-color;
    font-weight: 300;
    font-size: $xlarge-font-size;
    margin: 0 0 15px 0;
  }
}
