#fittable .header .functions-bar {
  div.functions {
    position: absolute;
    right: 0px;
    top: 35px;
    z-index: 96;

    h2 {
      color: $primary-color;
      font-weight: 300;
      font-size: 14pt;
      margin: 0px 0px 15px;
    }

  }
}
