#fittable {

  .header {
    position: relative;

    .function-controls {
      float: right;
      height: $header-elements-weight;
      width: 0;
      overflow: hidden;
      position: relative;
      transition: width $default-anim-speed, padding $default-anim-speed;
      padding-left: 0;
      box-sizing: border-box;
      margin: 0;

      &.open {
        width: 200px;
        padding-left: $header-elements-weight;
      }

      &.open.search {
        width: 160px;
      }
    }
  }
}
