@charset "utf-8";

#fittable {

  div.header {

    div.function-controls {
      float: right;
      height: $header-elements-weight;
      width: 0px;
      overflow: hidden;
      position: relative;
      transition: width .2s, padding .2s;
      padding-left: 0px;
      box-sizing: border-box;
      margin: 0px;

      &.open {
        width: 200px;
        padding-left: $header-elements-weight;
      }

      &.open.search {
        width: 160px;
      }
    }

    input.search-input {
      background: $secondary-color;
      font-family: $body-font-family;
      color: $primary-color;
      height: $header-elements-weight - 8px;
      line-height: $header-elements-weight - 8px;
      margin: 4px 0px;
      padding: 0px 8px;
      width: 100%;
      border: 0px;
      box-shadow: none;
    }

    div.functions-links {
      float: right;
      display: inline-block;
      height: $header-elements-weight;
      padding-right: 8px;

      a {
        display: inline-block;
        padding: 0px 8px;
        height: $header-elements-weight;
        line-height: $header-elements-weight;
        position: relative;
        z-index: 199;
      }

      .flags-function::before, .search-function::before {
        content: 'Příznaky';
        @include bold-up-text();
        display: inline-block;
        position: absolute;
        top: -5px;
        text-align: right;
        line-height: 1;
        right: 0px;
        opacity: 0;
        transition: top 0.2s, opacity 0.2s;
        height: 5px;
        z-index: 99;
      }

      .search-function::before {
        content: 'Vyhledávání';
      }

      .flags-function:hover::before, .search-function:hover::before {
        opacity: 1;
        top: -15px;
      }
    }

    div.week {
      float: left;
      display: inline-block;
      height: $header-elements-weight;
      background: $primary-color;
      color: white;
      @include bold-up-text;
      @include background-hover-effect( $primary-color );
      font-weight: 400;

      a {
        color: white;
        padding: 0px 18px;
        line-height: $header-elements-weight;
        display: inline-block;
      }

      i.fa {
        margin: 0px 5px;
      }
    }

    div.week-switching {
      float: left;
      margin-left: 15px;

      a {
        display: inline-block;
        width: $header-elements-weight / 1.5;
        line-height:  $header-elements-weight;
      }

    }

  }

}
