
/* This file has redundancy please keep this file in sync with contents of _medium-verticality.scss for now.
    Will be fixed soon.   */

@media #{$medium-down} {

  #fittable {

    div.days {

      div.day:not(.selected) {
        display: none;
      }

      div.day.selected {
        display: block !important;
        background: transparent !important;

        div.label {
          display: none;
        }
      }
    }

    .functions-sidebar {
      padding: 30px;
      float: none;
      width: 100%;
      clear: both;
      border-bottom: 2px solid $primary-color;
      background: $light-secondary-color;
      position: static;

    }
  }
}

