
/* This file has redundancy, please keep this file in sync with contents of _medium.scss for now.
    Will be fixed soon.   */

// Basically, this is copy of _table-vertical.scss, only without .vertical class and with media rule

@media #{$medium-down} {

  div#fittable div.table {
    overflow-x: hidden;

    div.day {
      height: $vertical-layout-day-height;
      width: 90%; // keep @ 90%
      float: left;
      transition: height $layoutchange-anim-speed;
      margin-left: 10%;

      div.label {
        float: none;
        width: 100%;
        line-height: 1.7;
        height: 7%;
        margin: 0;
        padding: 10px;

        span.day-num {
          display: inline;
          font-weight: bold;
          margin-right: 5px;
        }
      }

      div.events {
        height: 93%;
        width: 100%;
        margin: 0;

        div.event {
          left: 0 !important;
          width: 100% !important;
          padding: 5px 10px;

          .type {
            bottom: 15px;
          }

          &.detail-shown {
            width: 300px !important;
          }
        }

      }
    }

    div.grid-overlay {

      .grid-wrapper {
        width: 100%;
        height: 93%;
        left: 0;
        top: 7%;
        padding: 0 $day-row-padding;
      }

      .grid {
        $grid-color: rgba(0, 0, 0, .1);
        background-color: transparent;
        background-image: linear-gradient(180deg, $grid-color 0px, $grid-color $grid-line-width, transparent $grid-line-width);
        width: 100%;
        height: 100%;
      }

      .grid.hor {
        display: none;
      }

      .grid.ver {
        display: block;
      }
    }

    .now-indicator {
      width: 100% !important;
      border-right: none;
      border-bottom: 1px solid $primary-color;
      margin-left: 10px;

      .next {
        display: none;
      }

      i.fa {
        right: auto !important;
        font-size: 10px;
        bottom: -5px;
        left: -10px;
      }

      i.fa.fa-chevron-circle-right {
        display: none;
      }
    }

    .hour-labels {
      float: none;
      width: 10%;
      position: absolute;
      left: 0;
      top: 7%;
      padding: 0;
      height: 93%;

      .hour-label {
        left: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100% !important;
      }
    }
  }

  // Vertical overlays
  #fittable div.table div.day div.events {
    div.event {
      &:not(.detail-shown).half {
        width: 50% !important;
        padding-right: 5px;
      }

      &.half + div.event:not(.detail-shown).half {
        left: unset !important;
        right: 0;
        padding-left: 5px;
      }

      &:not(.detail-shown).third {
        width: 33% !important;
        padding-right: 5px;

        .time {
          font-size: $small-font-size;
        }
      }

      &.third + div.event:not(.detail-shown).third {
        left: 33% !important;
        padding-left: 5px;
        padding-right: 5px;
      }

      &.third + div.event.third + div.event:not(.detail-shown).third {
        left: unset !important;
        right: 0;
        padding-left: 5px;
      }
    }
  }

  // Horizontal inner elements minimalization
  #fittable div.table div.day div.events {
    div.event:not(.detail-shown) {
      &.min-light {
        .time {
          display: none !important;
        }
      }

      &.min-hard {
        .type, .time {
          display: none !important;
        }

        .name {
          font-size: $small-font-size !important;
        }
      }

      &.min-all {
        .type, .time, .name {
          display: none !important;
        }
      }
    }
  }
}

