#settings-modal {
    max-width: 560px;
    width: auto;
    padding: 0px;
    
    & > .row {
        margin: 20px 10px;
        font-size: 9pt;
    }
    
    .setting {
        .switch {
            float:left;
            margin-right: 20px;
        }
        clear: both;
    }
    
    .ui-color {
        color: #555;
        text-align: center;
        
        .ui-color-pick {
            width: 18px;
            height: 18px;
            display: inline-block;
            margin: 4px;
            
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            
            &.blue {
                background: #2962b1;
            }
            &.wine {
                background: #b91e53;
            }
            &.green {
                background: #588e21;
            }
            
            &.active {
                border: 1px solid white;
                box-shadow: 0px 1px 0px #333, 0px -1px 0px #333, 1px 0px 0px #333, -1px 0px 0px #333;
            }
        }
    }
    
}

.modal-heading {
    height: 70px;
    background: $primary-color;
    padding: 0px 20px;
    color: white;
    font-size: 16pt;
    line-height: 70px;
    vertical-align: middle;
    
    .modal-icon {
        font-size: 32px;
        vertical-align: middle;
        margin-right: 20px;
    }
    
    a.close-reveal-modal {
        float: right;
        top: 0px;
        right: 20px;
        line-height: 70px;
        font-size: 24px;
        color: white;
    }
}

.modal-tabs {
    background: $secondary-color;
    
    .button {
        margin-bottom: 0px;
    }
}