header {

  &.row {
    margin: 60px auto 30px auto;
  }

  .user-menu {
    float: right;

    .user {
      display: inline-block;
      background: $secondary-color;
      color: $primary-color;
      @include bold-up-text;
      height: $header-elements-weight;
      float: left;
      @include background-hover-effect( $secondary-color );

      a {
        color: $primary-color;
        text-decoration: none;
        line-height: $header-elements-weight;
        padding: 0 10px;
        display: inline-block;
        width: 100%;
        height: 100%;

        i.fa {
          margin: 0 5px;
        }
      }
    }

    a.logout {
      display: block;
      width: $header-elements-weight;
      height: $header-elements-weight;
      line-height: $header-elements-weight;
      text-align: center;
      background: $primary-color;
      color: white;
      float: left;
      @include background-hover-effect( $primary-color );
    }

  }

  h1 {
    color: $primary-color;
    font-weight: 300;
    margin: -10px 0 0 0;
  }

  h1 + .sub-header {
    text-transform: uppercase;
    font-size: $small-font-size;
    margin-top: -7px;
    color: $primary-color;
    font-weight: 400;
  }

}
