div#fittable div.table.vertical {

  div.day {
    height: $vertical-layout-day-height;
    width: 20%;
    float: left;
    transition: height $layoutchange-anim-speed;

    div.label {
      float: none;
      width: 100%;
      line-height: 1.7;
      height: 7%;
      margin: 0;
      padding: $day-row-padding;

      span.day-num {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    &.active div.label span.day-name {
      border: 0;
    }

    div.events {
      height: 93%;
      width: 100%;
      margin: 0;

      div.event {
        left: 0 !important;
        width: 100% !important;
        padding: 5px 10px;

        .type {
          bottom: 15px;
        }

        &.detail-shown {
          width: 300px !important;
        }
      }

    }
  }

  div.grid-overlay {
    height: 720px;

    .grid-wrapper {
      width: 100%;
      height: 93%;
      left: 0;
      top: 7%;
      padding: 0 $day-row-padding;
    }

    .grid {
      $grid-color: rgba( 0, 0, 0, .1 );
      background-color: transparent;
      background-image: linear-gradient(180deg, $grid-color 0px, $grid-color $grid-line-width, transparent $grid-line-width);
      width: 100%;
      height: 100%;
    }

    .grid.hor {
      display: none;
    }

    .grid.ver {
      display: block;
    }
  }

  .now-indicator {
    width: 100% !important;
    border-right: none;
    border-bottom: 1px solid $primary-color;

    .next {
      bottom: 0px;
      text-align: left;
      padding-left: 8px;
    }

    i.fa {
      right: auto !important;
      bottom: -6px;
      left: -14px;
    }

    i.fa.fa-chevron-circle-right {
      display: none;
    }
  }

  .hour-labels {
    float: none;
    width: 1%;
    position: absolute;
    left: -1%;
    top: 7%;
    padding: 0;
    height: 93%;

    .hour-label {
      left: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Vertical overlays
#fittable div.table.vertical div.day div.events {
  div.event {
    &:not(.detail-shown).half {
      width: 50% !important;
      padding-right: 5px;
    }

    &.half + div.event:not(.detail-shown).half {
      left: auto !important;
      right: 0;
      padding-left: 5px;
    }

    &:not(.detail-shown).third {
      width: 33% !important;
      padding-right: 5px;

      .time {
        font-size: $small-font-size;
      }
    }

    &.third + div.event:not(.detail-shown).third {
      left: 33% !important;
      padding-left: 5px;
      padding-right: 5px;
    }

    &.third + div.event.third + div.event:not(.detail-shown).third {
      left: auto !important;
      right: 0;
      padding-left: 5px;
    }
  }
}

// Horizontal inner elements minimalization
#fittable div.table.vertical div.day div.events {
  div.event:not(.detail-shown) {
    &.min-light {
      .time {
        display: none !important;
      }
    }

    &.min-hard {
      .type, .time {
        display: none !important;
      }

      .name {
        font-size: $small-font-size !important;
      }
    }

    &.min-all {
      .type, .time, .name {
        display: none !important;
      }
    }
  }
}
