$event-rollout-anim-speed: .2s;

#fittable {

  div.table {
    $day-row-height: 85px;
    $day-row-padding: 12px;

    clear: both;
    position: relative;

    div.day {
      height: $day-row-height;
      background: white;
      color: $primary-color;

      &:nth-child(even) {
        background: $secondary-color;
      }

      div.label {
        display: block;
        background: none;
        width: 10%;
        float: left;
        line-height: $day-row-height - ($day-row-padding * 2);
        font-size: 12px;
        text-align: left;
        color: $primary-color;
        padding: $day-row-padding 10px;

        span {
          padding: 5px 0px 5px 20px;
          margin-left: -18px;
        }
      }

      &.active {
        div.label span {
          font-weight: 700;
          border-left: 4px solid $primary-color;
          margin-left: -14px;
          padding-left: 14px;
        }
      }

      div.events {
        width: 90%;
        float: left;
        height: $day-row-height - ($day-row-padding * 2);
        position: relative;
        z-index: 80;
        visibility: hidden;
        padding: $day-row-padding 0px;

        div.event {
          position: absolute;
          padding: 0px 5px;
          transition: width $event-rollout-anim-speed;
          z-index: 99;
          height: 100%;

          div.inner {
            background: $primary-color;
            color: white;
            height: 100%;
            @include background-hover-effect( $primary-color );
            cursor: pointer;
            padding: 5px 10px;
            overflow: hidden;
          }

          div.name {
            font-size: 17px;
            font-weight: 300;
            text-align: right;
            margin-top: 5px;
          }

          div.time {
            font-size: 11px;
            text-align: right;
          }

          div.type {
            position: absolute;
            bottom: 10px;
            left: 15px;
            font-size: 11px;
            font-weight: 700;
            border-left: 2px solid white;
            padding-left: 5px;
            line-height: 1.2;
          }

          div.detail {
            visibility: hidden;
            background: white;
            padding: 20px;
            margin: 10px -10px 30px -10px;
            clear: both;
            min-height: 0px;
            height: 0px;
            color: #222;
            width: 270px;
            transition: opacity $event-rollout-anim-speed*2, min-height $event-rollout-anim-speed, height $event-rollout-anim-speed;
            opacity: 0;
          }

          &.detail-shown {
            width: 270px !important;
            height: auto;
            z-index: 999;

            .inner { box-shadow: 0px 2px 9px rgba( 70, 70, 70, .2 ); }

            div.detail {
              visibility: visible;
              opacity: 1;
              min-height: 180px;
              height: 180px;
            }
          }
        }
      }
    }

    &.a-left div.day div.events {
      visibility: visible;
      animation: week-move-left ease 0.4s;
    }

    &.a-right div.day div.events {
      visibility: visible;
      animation: week-move-right ease 0.4s;
    }

    .grid-overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      padding: $day-row-padding 0px $day-row-padding 10%;
      z-index: 40;
      opacity: .5;

      .grid {
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(0,0,0,.09) .1em, transparent .1em);
        background-size: 7.69% 100%;
        width: 100%;
        height: 100%;
      }
    }

  }



}
