#fittable {

  div.table {
    clear: both;
    position: relative;

    div.day {
      width: 100%;
      height: $day-row-height;
      max-height: $vertical-layout-day-height;
      background: white;
      color: $primary-color;
      transition: width $layoutchange-anim-speed;

      div.label {
        display: block;
        background: none;
        width: 10%;
        float: left;
        line-height: $day-row-height - ($day-row-padding * 2);
        text-align: left;
        color: $primary-color;
        padding: 0 10px;
        margin: $day-row-padding 0;
        transition: opacity $events-move-anim-speed;

        span {
          padding: 5px 0 5px 20px;
          margin-left: -18px;
        }

        span.day-num {
          display: none;
        }
      }

      &.active {
        div.label span {
          font-weight: 700;
          border-left: 4px solid $primary-color;
          margin-left: -14px;
          padding-left: 14px;
        }
      }
    }

    div.days div.day:nth-child(odd) {
      background: $secondary-color;
      transition: background $events-move-anim-speed;
    }

    &.a-left div.day div.events {
      visibility: visible;
      animation: week-move-left ease $events-move-anim-speed;
    }

    &.a-right div.day div.events {
      visibility: visible;
      animation: week-move-right ease $events-move-anim-speed;
    }

    .grid-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: $day-row-padding 0px $day-row-padding 10%;
      z-index: 8;
      opacity: .5;

      .grid {
        $grid-color: rgba( 0, 0, 0, .05 );
        background-color: transparent;
        background-image: linear-gradient(90deg, $grid-color 0px, transparent 2px);
        width: 100%;
        height: 100%;
      }
    }

    .now-indicator {
      position: absolute;
      left: 0;
      top: 0;
      height: 102%;
      z-index: 7;
      border-right: 1px solid $primary-color;
      opacity: .5;

      .next {
        position: absolute;
        bottom: -14px;
        font-size: $small-font-size;
        color: $primary-color;
        white-space: nowrap;
        overflow: hidden;
        text-align: right;
        line-height: 16px;
        width: 100%;
        padding-right: 10px;
      }

      i.fa {
        position: absolute;
        bottom: -14px;
        right: -8px;
        font-size: 16px;
        color: $primary-color;
      }
    }

    .hour-labels {
      float: right;
      width: 90%;
      position: relative;
      padding: 8px 0;

      .hour-label {
        position: absolute;
        color: $lightgraytext-color;
        font-size: $small-font-size;
        text-align: center;
      }
    }

  }

  div.table:not(.vertical) div.day div.events
  {
    div.event {
      top: 0px !important;
      &:not(.detail-shown) { height: 100% !important; }

      &.hide, &:not(.detail-shown).hide {
        display: block;
        opacity: 0 !important;
      }
    }
  }
}
