
#fittable {

  div.table {
    clear: both;
    position: relative;

    div.day {
      width: 100%;
      height: $day-row-height;
      max-height: $vertical-layout-day-height;
      background: white;
      color: $primary-color;
      transition: width .5s;

      &:nth-child(even) {
        background: $secondary-color;
      }

      div.label {
        display: block;
        background: none;
        width: 10%;
        float: left;
        line-height: $day-row-height - ($day-row-padding * 2);
        text-align: left;
        color: $primary-color;
        padding: 0px 10px;
        margin: $day-row-padding 0px;

        span {
          padding: 5px 0px 5px 20px;
          margin-left: -18px;
        }

        span.day-num {
          display: none;
        }
      }

      &.active {
        div.label span {
          font-weight: 700;
          border-left: 4px solid $primary-color;
          margin-left: -14px;
          padding-left: 14px;
        }
      }
    }

    &.a-left div.day div.events {
      visibility: visible;
      animation: week-move-left ease $events-move-anim-speed;
    }

    &.a-right div.day div.events {
      visibility: visible;
      animation: week-move-right ease $events-move-anim-speed;
    }

    .grid-overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      padding: $day-row-padding 0px $day-row-padding 10%;
      z-index: 8;
      opacity: .5;

      .grid {
        $grid-color: rgba( 0, 0, 0, .05 );
        background-color: transparent;
        background-image: linear-gradient(90deg, $grid-color 0px, transparent 2px);
        background-size: 7.69% 100%;
        width: 100%;
        height: 100%;
      }
    }

  }

  div.table:not(.vertical) div.day div.events
  {
    div.event {
      top: 0px !important;
      &:not(.detail-shown) { height: 100% !important; }
    }
  }
}
