div#fittable div.table.vertical {

  div.day {
    height: $vertical-layout-day-height;
    width: 20%;
    float: left;
    transition: height $layoutchange-anim-speed;

    div.label {
      float: none;
      width: 100%;
      line-height: 1.7;
      height: 7%;
      margin: 0;
      padding: 10px;

      span.day-num {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
      }
    }

    div.events {
      height: 93%;
      width: 100%;
      margin: 0;

      div.event {
        left: 0 !important;
        width: 100% !important;
        padding: 5px 10px;

        .type {
          left: 20px;
          bottom: 15px;
        }

        &.detail-shown {
          width: 300px !important;
        }
      }

    }
  }

  div.grid-overlay {
    // todo: tohle neni uplne koser, zjistit proc se blbe pocita vyska!
    padding: 4.5% 12px 0 12px;

    .grid {
      $grid-color: rgba( 0, 0, 0, .1 );
      background-color: transparent;
      background-image: linear-gradient(180deg, $grid-color 0px, transparent 2px);
      background-size: 100% 7.69%;
      width: 100%;
      height: 100%;
    }
  }
}

// Vertical overlays
#fittable div.table.vertical div.day div.events {
  div.event {
    &:not(.detail-shown).half {
      width: 50% !important;
      padding-right: 5px;
    }

    &.half + div.event:not(.detail-shown).half {
      left: unset !important;
      right: 0;
      padding-left: 5px;
    }

    &:not(.detail-shown).third {
      width: 33% !important;
      padding-right: 5px;

      .time {
        font-size: $small-font-size;
      }
    }

    &.third + div.event:not(.detail-shown).third {
      left: 33% !important;
      padding-left: 5px;
      padding-right: 5px;
    }

    &.third + div.event.third + div.event:not(.detail-shown).third {
      left: unset !important;
      right: 0;
      padding-left: 5px;
    }
  }
}

// Horizontal inner elements minimalization
#fittable div.table.vertical div.day div.events {
  div.event:not(.detail-shown) {
    &.min-light {
      .time {
        display: none !important;
      }
    }

    &.min-hard {
      .type, .time {
        display: none !important;
      }

      .name {
        font-size: $small-font-size !important;
      }
    }

    &.min-all {
      .type, .time, .name {
        display: none !important;
      }
    }
  }
}
