$event-rollout-anim-speed: .2s;

#fittable div.table div.day div.events {
  width: 90%;
  float: left;
  height: $day-row-height - ($day-row-padding * 2);
  position: relative;
  visibility: hidden;
  margin: $day-row-padding 0px;

  div.event {
    position: absolute;
    padding: 0px 5px;
    transition: width $event-rollout-anim-speed;
    z-index: 99;
    height: 100%;

    div.inner {
      background: $primary-color;
      color: white;
      height: 100%;
      @include background-hover-effect( $primary-color );
      cursor: pointer;
      padding: 5px 10px;
      overflow: hidden;
    }

    div.name {
      font-size: 17px;
      font-weight: 300;
      text-align: right;
      margin-top: 5px;
    }

    div.time {
      font-size: 11px;
      text-align: right;
    }

    div.type {
      position: absolute;
      bottom: 10px;
      left: 15px;
      font-size: 11px;
      font-weight: 700;
      border-left: 2px solid white;
      padding-left: 5px;
      line-height: 1.2;
    }

    div.detail {
      visibility: hidden;
      background: white;
      padding: 20px;
      margin: 10px -10px 30px -10px;
      clear: both;
      min-height: 0px;
      height: 0px;
      color: #222;
      width: 260px;
      transition: opacity $event-rollout-anim-speed*2, min-height $event-rollout-anim-speed, height $event-rollout-anim-speed;
      opacity: 0;

      .properties {
        color: #777;
        font-size: 8pt;
        line-height: 1.9;

        i.fa {
          margin-right: 7px;
        }

        .text-right i.fa {
          margin-right: 0px;
          margin-left: 7px;
        }
      }
    }

    &.detail-shown {
      width: 270px !important;
      height: auto;
      z-index: 999;

      .inner { box-shadow: 0px 2px 9px rgba( 70, 70, 70, .2 ); }

      div.detail {
        visibility: visible;
        opacity: 1;
        min-height: 180px;
        height: 180px;
      }
    }

    &:not(.detail-shown).half {
      height: 45%;

      div.type, div.time {
        display: none;
      }

      div.name {
        margin-top: 0px;
        font-size: 10pt;
      }
    }

    &.half + div.event:not(.detail-shown).half {
      bottom: 0px;
    }

    &:not(.detail-shown).third {
      height: 30%;

      div.type, div.time {
        display: none;
      }

      div.name {
        margin-top: -5px;
        font-size: 8pt;
      }
    }

    &.third + div.event:not(.detail-shown).third {
      top: 35%;
    }

    &.third + div.event.third + div.event:not(.detail-shown).third {
      top: unset;
      bottom: 0;
    }

  }
}
