#fittable div.table div.day div.events {
  width: 90%;
  float: left;
  height: $day-row-height - ($day-row-padding * 2);
  position: relative;
  visibility: hidden;
  margin: $day-row-padding 0px;

  div.event {
    position: absolute;
    padding: 0 5px;
    transition: width $event-rollout-anim-speed, opacity $events-move-anim-speed;
    z-index: 99;
    height: 100%;

    &.hide, &:not(.detail-shown).hide {
      display: block;
      opacity: 0 !important;
    }

    div.inner {
      background: $primary-color;
      color: white;
      height: 100%;
      @include background-hover-effect( $primary-color );
      padding: 5px 10px;
      overflow: hidden;
      position: relative;
    }

    &:not(.hide) div.inner {
      cursor: pointer;
    }

    div.name {
      font-size: $xlarge-font-size;
      font-weight: 300;
      text-align: right;
      margin-top: 5px;
    }

    div.time {
      font-size: $xsmall-font-size;
      text-align: right;
    }

    div.type {
      position: absolute;
      bottom: 10px;
      left: 15px;
      font-size: $small-font-size;
      font-weight: 700;
      border-left: 2px solid white;
      padding-left: 5px;
      line-height: 1.2;
    }

    div.detail {
      visibility: hidden;
      background: white;
      padding: 20px;
      clear: both;
      min-height: 0;
      max-height: 0;
      margin: 0px -10px 0px -10px;
      height: 0;
      color: #222;
      width: inherit;
      transition: opacity $event-rollout-anim-speed*2,
              min-height $event-rollout-anim-speed,
              max-height $event-rollout-anim-speed*2,
              height $event-rollout-anim-speed,
              margin $event-rollout-anim-speed,
              top $event-rollout-anim-speed;
      opacity: 0;
      overflow: hidden;

      .properties {
        color: #777;
        line-height: 1.9;
        font-size: $small-font-size;

        i.fa {
          margin-right: 7px;
        }

        .text-right i.fa {
          margin-right: 0px;
          margin-left: 7px;
        }
      }
    }

    &:not(.cancelled) .cancelflag {
      display: none;
    }

    &:not(.replacement) .replaceflag {
      display: none;
    }


    &.detail-shown {
      width: 300px !important;
      height: auto !important;
      position: relative;
      z-index: 199;

      div.detail {
        visibility: visible;
        opacity: 1;
        min-height: 180px;
        height: auto;
        margin: 10px -10px 30px -10px;
        max-height: 360px;
      }
    }

    &.cancelled .inner {
      border-top: 3px dashed rgba(white, .5);
      background: $third-color;
    }

    &.replacement .inner {
      border-top: 3px dashed rgba(white, .5);
    }

    .cancelflag, .replaceflag {
      color: white;
      opacity: .5;
      font-size: 48px;
      position: absolute;
      top: -10px;
      left: -10px;
    }
  }
}

@media #{$large-up} {

  // Horizontal overlays

  #fittable div.table:not(.vertical) div.day div.events {
    div.event {
      &:not(.detail-shown).half {
        height: 45% !important;

        div.type, div.time {
          display: none;
        }

        div.name {
          margin-top: 0;
          font-size: $small-font-size;
        }
      }

      &.half + div.event:not(.detail-shown).half {
        top: unset !important;
        bottom: 0;
      }

      &:not(.detail-shown).third {
        height: 30% !important;

        div.type, div.time {
          display: none;
        }

        div.name {
          margin-top: -5px;
          font-size: $xsmall-font-size;
        }
      }

      &.third + div.event:not(.detail-shown).third {
        top: 35% !important;
      }

      &.third + div.event.third + div.event:not(.detail-shown).third {
        top: unset !important;
        bottom: 0;
      }
    }
  }

  // Horizontal inner elements minimalization

  #fittable div.table:not(.vertical) div.day div.events {
    div.event:not(.detail-shown) {
      &.min-light {

      }

      &.min-hard {
        .type {
          display: none !important;
        }

        .time {
          font-size: $xsmall-font-size !important;
        }
      }

      &.min-all {
        .type, .time, .name {
          display: none !important;
        }
      }
    }
  }
}
