div#fittable div.header div.week-switcher {
  position: absolute;
  top: 35px;
  background: $primary-color;
  width: 220px;
  height: 220px;
  z-index: 90;
  padding: 20px 10px;
  opacity: 1;
  transition: opacity $default-anim-speed, height $default-anim-speed;

  &.hide {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .selector a {
    color: white;
  }

  .semester-selector, .month-selector {
    .column {
      text-align: center;
    }

    .active-item {
      color: white;
      font-weight: bold;
    }

    .gr-go a {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
    }
  }

  .week-selector {
    margin-top: 2px;

    .day {
      width: 14.285%;
      float: left;
      text-align: center;
      color: white;
    }

    .day.in-other {
      color: rgba(255,255,255,.3);
    }

    &:not(.active-week):hover .day {
      background: rgba(255,255,255,.1);
    }

    &.active-week {
      .day {
        background: white;
        color: $primary-color;

        &.in-other {
          color: rgba( $primary-color ,.3);
        }
      }
    }
  }

  .selector:nth-child(2) {
    margin-top: 5px;
  }

  .selector:nth-child(3) {
    margin-top: 17px;
  }
}
