#fittable {
  .week-toggle {
    @extend %btn-dark;
    @include upcase;
    float: left;
    height: $header-elements-weight;
    position: relative;
    z-index: 420;

    line-height: $header-elements-weight;

    i.fa {
      margin: 0 5px;
    }
  }

  .week-toggle-inner {
    display: inline-block;
    width: 160px;
    padding: 0 18px;
  }

  .week-nav {
    float: left;
    margin-left: 10px;
    position: relative;
    z-index: 420;
  }

  .week-nav-btn {
    @extend %btn-light;
    text-align: center;
    width: $header-elements-weight / 1.25;
    line-height:  $header-elements-weight;
    font-size: $large-font-size;
  }


  @media #{$medium-down} {

    .week-toggle {
      height: $mobile-heading-height + 10px;
      text-align: center;
      line-height: 1;
      width: 100%;

      i.fa {
        display: none;
      }
    }

    .week-toggle-dow {
      display: block;
      font-size: 18px;
      line-height: 1.3;
      text-transform: lowercase;
    }

    .week-toggle-num {
      line-height: 0.9;
    }

    .week-nav {
      height: 0;
      width: 100%;
      margin: 0;
    }

    .week-nav-btn {
      @include active-dark-hover;
      position: relative;
      top: - $mobile-heading-height - 10px;
      font-size: 24px;
      line-height: $mobile-heading-height + 10px;
      padding: 0 20px;
      width: auto;
    }

    .week-nav-next {
      float: right;
    }
  }

  @media #{$medium-only} {
    .week-toggle {
      float: left;
      width: 60%;
    }
    .week-nav {
        width: 55%;
    }
  }

  @media #{$large-up} {
    .week-toggle-dow {
      display: none;
    }

  }
}
