#fittable {

  .weeksw {
    @include active-dark;
    @include disable-selection();
    position: absolute;
    top: 35px;
    width: 240px;
    height: 240px;
    z-index: 390;
    padding: 20px $column-gutter/2;
    opacity: 1;
    transition: opacity $default-anim-speed, height $default-anim-speed;
    outline: 1px solid white;
  }

  // FIXME: this overrides foundation class; perhaps use a better class name?
  .weeksw.hide {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .weeksw-semester-selector,
  .weeksw-month-selector {
    text-align: center;

    .active-item {
      color: white;
      font-weight: bold;
    }

    .gr-go-btn {
      @extend %btn-dark;
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
    }
  }

  .weeksw-semester-selector {
    margin-bottom: 5px;
  }

  .weeksw-month-selector {
    margin-bottom: 17px;
  }

  .weeksw-week-selector {
    @include active-dark;
    margin-bottom: 2px;
  }

  .weeksw-week-selector:hover .weeksw-day {
    background: rgba(255,255,255,.1);
  }

  .weeksw-week-selector.active-week {
    .weeksw-day {
      @include active-light;
    }
    .weeksw-day.in-other {
      color: rgba( $primary-color ,.3); // FIXME: this is close to a shared hover style
    }
  }

  .weeksw-day {
    display: inline-block;
    width: 14.285%; // ~ 100 / 7
    text-align: center;
  }

  .weeksw-day.in-other {
    color: rgba(255,255,255,.3);
  }


}
