#fittable {

  .error-message {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.85;
    position: absolute;
    z-index: 160;
    background: rgba(white, .85);
    display: flex;
    flex-direction: column;
    justify-content: center;

    i.icon {
      margin: 40px 0 20px 0;
      font-size: 36px;
      color: $primary-color;
    }

    h2 {
      font-size: 25px;
      color: $primary-color;
    }

    p.please {
      margin: 40px auto 0 auto;
      padding: 25px;
      display: block;
      border-top: 1px solid #ccc;
      width: 60%;
      font-size: 12px;
    }

    button {
      display: block;
      background: $primary-color;
      color: white;
      padding: .75rem 2rem;
      margin: 2rem auto 0 auto;

      &:hover {
        @include active-dark-hover();
      }
    }
  }

  .muted-error-message {
    text-align: center;
    font-size: 11px;
    color: white;
    background: $primary-color;
    padding: 5px 20px;
    width: 50%;
    min-width: 200px;
    margin: 0 auto;

    i.fa {
      margin-right: 15px;
    }
  }

}
