.fittable-footer {
  line-height: 16px;
  padding: 0 20px;
  margin-top: 4em;
  font-size: $base-font-size;
  color: $darkgraytext-color;

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  i.fa {
    margin-right: 5px;
  }

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
  }

  li {
    margin: 0 8px;
    padding: 0;
    display: inline-block;
    font-size: $base-font-size;
  }

  a {
    color: $darkgraytext-color;
    font-weight: 700;
    line-height: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  .build-info {
    float: right;
  }

}
