.footer {
  line-height: 16px;
  font-size: $base-font-size;
  color: $darkgraytext-color;
  padding-top: 4em;

  @media #{$small-down} {
    background: #363636;
    color: white;
    padding-top: 0;
    margin: 0 !important;
  }

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  i.fa {
    margin-right: 5px;
  }

  ul {
    display: inline;
    list-style: none;
    margin: 0 -8px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
  }

  li {
    margin: 0 8px;
    padding: 0;
    display: inline-block;
    font-size: $base-font-size;
  }

  a {
    color: $darkgraytext-color;
    font-weight: 700;
    line-height: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-alert {
    padding-top: 2em;
    text-align: center;
  }

  &-content {
    padding: .5em 30px 4em 30px;

    &-buildinfo {
      float: right;
    }

    &-betalabel{
      color: #cd4d4d;
      font-weight: bold;
    }

    @media #{$medium-down} {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media #{$small-down} {
      padding: 2em 25px;
      text-align: center;

      a { color: white; }

      &-buildinfo {
        float: none;
        padding-bottom: 1.5em;
      }

      li {
        font-size: 15px;
      }
    }
  }

  &-usermenu {
    position: relative;
    overflow: hidden;
    padding: 0 30px 0 30px;
    display: none;

    &-logout {
      float: right;
    }

    &-username {
      margin-left: 8px;
      font-weight: bold;
    }

    @media #{$medium-down} {
      padding-left: 20px;
      padding-right: 20px;
      display: block;
    }

    @media #{$small-down} {
      background: #494c4e;
      padding: 15px 15px 15px 70px;

      &-username {
        margin-left: 0;
      }

      a { color: white; }

      &-username i.fa {
        position: absolute;
        left: 6px;
        top: -15%;
        font-size: 60px;
        color: #696f72;
      }

      &-logout {
        color: white;
        background: #696f72;
        padding: 15px;
        margin: -15px;
        font-size: 18px;

        i.fa {
          margin-right: 0;
        }

        span {
          display: none;
        }
      }
    }
  }
}
