header {

  // Medium screen
  @media #{$medium-down} {
    &.row {
      margin: 15px auto 15px auto !important;
      text-align: center;
    }

    h1 {
      font-size: 23px;
      display: inline;
    }

    h1 + .sub-header {
      font-size: 10px;
      display: block;
    }
  }

  // Small screen
  @media #{$small-down} {
    &.row {
      background: $primary-color;
      margin: 0 !important;
      padding: 10px 20px 5px;
    }

    h1 {
      font-size: 15px;
      font-weight: 800;
      color: white;
      line-height: 1.3;
    }

    h1 + .sub-header {
      color: white;
      text-transform: none;
      line-height: 1;
      margin-top: -2px;
    }
  }
}
