#fittable-landing {
  margin-bottom: 60px;

  & > .row {
    max-width: 1100px;
    padding: 0 30px;
  }

  margin-top: 80px;

  .top-part {
    width: 70%;
    margin: 0 auto 100px auto;
    text-align: center;

    img {
      width: 100%;
      max-width: 300px;
    }

    button.login {
      @include button;
      font-weight: bold;
      margin-bottom: 7px;
      display: block;

      i.fa {
        margin-right: 15px;
      }
    }

    .access {
      margin: 130px 0 40px 0;
    }
  }

  p.help {
    font-size: 11px;
    text-align: center;
    color: #666;
  }

  div.vline {
    &::before {
      content: '';
      display: block;
      width: 50%;
      height: 650px;
      margin-top: -50px;
      border-right: 1px solid #999;
    }
  }

  div.hline {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid #666;
    }
  }

  h1.hero {
    color: $primary-color;
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
  }

  div.sub-hero {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.8;
    max-width: 700px;
  }
}
