#fittable .LogoutButton {
  background: $primary-color;
  color: white;
  @include upcase();
  padding: .5rem 1rem;
  float: right;

  span {
    display: none;
  }

  @media #{$small-down} {
    background: none;
    font-size: 1.2rem;
  }
}
