header {
  padding: 0px 30px;

  &.row {
    margin: 60px auto 30px auto;
  }

  h1 {
    color: $primary-color;
    font-weight: 300;
    margin: -10px 0 0 0;
  }

  h1 + .sub-header {
    text-transform: uppercase;
    font-size: $small-font-size;
    margin-top: -7px;
    color: $primary-color;
    font-weight: 400;
  }
}
