#fittable {

  $search-width: 360px;
  $background: $light-secondary-color;

  .Search {
    height: 32px;
    color: white;
    width: $search-width;
    float: right;
    position: relative;
    z-index: 300;
    margin-right: .5em;

    @media #{$medium-down} {
      position: absolute;
      top: .5em;
      right: 0;
    }

    @media #{$small-down} {
      width: 96%;
      right: 2%;
      left: 2%;
    }
  }

  .Search-icon {
    display: block;
    z-index: 320;
    position: absolute;
    line-height: 32px;
    right: 1em;
    color: $secondary-color;
    cursor: text;

    @media #{$medium-down} {
      cursor: pointer;
    }
  }

  .Search-input input {
    width: 72%;
    float: right;
    margin: 0;
    background: $background;
    color: $primary-color;
    line-height: 32px;
    height: 32px;
    border: 0;
    padding: 0 1em;
    transition: width $default-anim-speed, color $default-anim-speed, background $default-anim-speed;
    z-index: 310;
    cursor: pointer;

    @media #{$medium-down} {
      width: 3em;
      text-indent: 9999em;
      color: white;
      background: $primary-color;
    }

    &:focus, &:active, &:valid {
      outline: none;
      text-indent: 0;
      width: 100%;
      background: $background;
      color: $primary-color !important;
      cursor: text;
    }

    &:invalid {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .Search-results {
    @include disable-selection();
    width: $search-width;
    max-height: 420px;
    position: absolute;
    top: 32px;
    background: white;
    box-shadow: 0 1em 3em rgba(black, .1);
    transition: opacity $default-anim-speed;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .25em;
    padding-bottom: 0;
  }

  .Search-results:not(.is-active) {
    opacity: 0;
  }

  .Search-results ul {
    list-style: none;
    margin: 0;
  }

  .Search-result {
    display: block;
    width: 100%;
    background: $light-secondary-color;
    color: $primary-color;
    font-size: $large-font-size;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2px;
    transition: color $default-anim-speed, background $default-anim-speed;
    padding: 6px 1em;

    .subtext {
      font-size: $small-font-size;
      color: #333;
    }

    &:hover {
      background: $primary-color;

      &, .subtext {
        color: white;
      }
    }
  }

}
