#fittable-signpost {
  padding-top: 2em;
  margin-bottom: 60px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;

  p {
    font-size: 16px;
  }

  h1 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2rem;
  }

  .langswitcher {
    text-align: right;
    padding-bottom: 1em;
    padding-bottom: 5vh;
  }

  .button {
    @include button;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
    font-size: 1.5em;
    i.fa {
      margin-right: 15px;
    }
  }

  .desc {
    padding-top: 1rem;
  }

  .button small {
    display: block;
  }

  .rooms-link {
    padding-top: 1rem;
  }

  @media #{$large-up} {
    & {
      padding-top: 15vh;
    }
  }

  .hidden {
    display: none;
  }

}
