#fittable .events {
  width: 100%;
  float: left;
  position: relative;
  height: 93%;
  margin: 0;

  .event {
    position: absolute;
    padding: $events-gutter/2 $events-gutter;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;
    transition: opacity $default-anim-speed;
    transform-origin: 0 0;

    &.hide, &:not(.is-opened).hide {
      display: block;
      opacity: 0 !important;
    }

    .inner {
      background: $primary-color;
      color: white;
      height: 100%;
      @include background-hover-effect( $primary-color );
      overflow: hidden;
      position: relative;
      line-height: 1.35;
    }

    &:not(.event--cancelled) .cancelflag {
      display: none;
    }

    &:not(.event--replacement) .replaceflag {
      display: none;
    }

    .cancelflag, .replaceflag {
      color: white;
      opacity: .5;
      font-size: 48px;
      position: absolute;
      top: -10px;
      left: -10px;
    }

    &--cancelled .inner {
      border-top: 3px dashed rgba(white, .5);
      background: $third-color;
      color: white;
    }

    &--replacement .inner {
      border-top: 3px dashed rgba(white, .5);
      color: white;
    }

    .head-space {
      padding: $events-gutter/2 $events-gutter;
    }

    &:not(.hide) div.inner div.head-space {
      width: 100%;
      cursor: pointer;
    }

    &:not(.is-opened) div.inner div.head-space {
      height: 100%;
    }

    .head-name {
      font-size: $xlarge-font-size;
      font-weight: 300;
      text-align: right;
      margin-top: 5px;
      white-space: nowrap;
      overflow: hidden;
      @include disable-selection();
    }

    .head-time {
      font-size: $xsmall-font-size;
      text-align: right;
      @include disable-selection();
    }

    .head-room {
      font-size: $xsmall-font-size;
      text-align: right;
      @include disable-selection();

      i {
        margin-right: .5em;
      }
    }

    .head-type {
      position: absolute;
      bottom: 10px;
      left: 15px;
      font-size: $small-font-size;
      font-weight: 700;
      border-left: 2px solid white;
      padding-left: 5px;
      line-height: 1.2;
      @include disable-selection();
    }

    &.is-opened div.inner div.head-space {
      background: transparent;
      transition: background $default-anim-speed;

      &:hover {
        background: rgba( white, 0.1 );

      }
    }
  }
}
