#fittable .table {
  // Medium screen
  @media #{$medium-down} {
    .hour-labels {
      left: -2.25rem;
    }

    .HourLabel {
      font-size: $small-font-size * 0.75;
    }
  }

  // Small screen
  @media #{$small-down} {
    width: 90%;
    margin-left: 10%;

    .day {
      background: white !important;
      width: 100% !important; // table.is-7days has higher priority than this
    }
    .day:not(.selected) { display: none; }
    .day .label { display: none; }

    .now-indicator {
      width: 98% !important;
      left: 2% !important;
    }

    .hour-labels {
      top: 0%;
    }

    .grid-wrapper {
      top: 0%;
    }

    .now-indicator-wrap {
      top: 0;
      left: 0;
      width: 100%;
      height: 93%;
    }
  }
}
