#fittable div.table div.day {

  $lecture: #F7C93F;
  $tutorial: #64AA47;
  $laboratory: #DE5543;
  $exam: #9169B5;
  $teacher-timetable-slot: #808A90;

  .event {

    &--lecture {

      .inner {
        background: $lecture;
        color: #444;
      }

      &:hover .inner {
        background: lighten( $lecture, 10% );
      }
    }

    &--tutorial {

      .inner {
        background: $tutorial;
      }

      &:hover .inner {
        background: lighten( $tutorial, 10% );
      }
    }

    &--laboratory {

      .inner {
        background: $laboratory;
      }

      &:hover .inner {
        background: lighten( $laboratory, 10% );
      }
    }

    &--exam {

      .inner {
        background: $exam;
      }

      &:hover .inner {
        background: lighten( $exam, 10% );
      }
    }

    &--teacher-timetable-slot {

      .inner {
        background: $teacher-timetable-slot;
      }

      &:hover .inner {
        background: lighten( $teacher-timetable-slot, 10% );
      }
    }

  }
}
