#fittable .table .events {
  width: 90%;
  float: left;
  height: $day-row-height - ($day-row-padding * 2);
  position: relative;
  visibility: hidden;
  margin: $day-row-padding 0px;

  .event {
    position: absolute;
    padding: 0 5px;
    transition: opacity $events-move-anim-speed;
    z-index: 99;
    height: 100%;

    &.hide, &:not(.detail-shown).hide {
      display: block;
      opacity: 0 !important;
    }

    div.inner {
      background: $primary-color;
      color: white;
      height: 100%;
      @include background-hover-effect( $primary-color );
      padding: 5px 10px;
      overflow: hidden;
      position: relative;

      & > .name {
        font-size: $xlarge-font-size;
        font-weight: 300;
        text-align: right;
        margin-top: 5px;
        @include disable-selection();
      }

      & > .time {
        font-size: $xsmall-font-size;
        text-align: right;
        @include disable-selection();
      }

      & > .type {
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-size: $small-font-size;
        font-weight: 700;
        border-left: 2px solid white;
        padding-left: 5px;
        line-height: 1.2;
        @include disable-selection();
      }
    }

    &:not(.cancelled) .cancelflag {
      display: none;
    }

    &:not(.replacement) .replaceflag {
      display: none;
    }

    &.cancelled .inner {
      border-top: 3px dashed rgba(white, .5);
      background: $third-color;
      color: white;
    }

    &.replacement .inner {
      border-top: 3px dashed rgba(white, .5);
      color: white;
    }

    .cancelflag, .replaceflag {
      color: white;
      opacity: .5;
      font-size: 48px;
      position: absolute;
      top: -10px;
      left: -10px;
    }

    &:not(.hide) div.inner div.head-space {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    &:not(.detail-shown) div.inner div.head-space {
      height: 100%;
    }

    &:not(.detail-shown) {
      div.type span.long {
        display: none;
      }
    }

    &.detail-shown div.inner div.head-space {
      height: $day-row-height - ($day-row-padding * 2);
      background: transparent;
      transition: background $default-anim-speed;

      &:hover {
        background: rgba( white, 0.1 );

      }
    }
  }
}

@media #{$large-up} {

  // Horizontal overlays

  #fittable {

    // Horizontal inner elements minimalization

    div.table:not(.vertical) div.day div.events {
      div.event:not(.detail-shown) {
        &.min-light {

        }

        &.min-hard {
          .type {
            display: none !important;
          }

          .time {
            font-size: $xsmall-font-size !important;
          }
        }

        &.min-all {
          .type, .time, .name {
            display: none !important;
          }
        }
      }
    }
  }
}
