#fittable {

  // Horizontal

  div.table:not(.vertical):not(.mobile) div.day div.events {
    div.event {
      &:not(.detail-shown).half,
      &:not(.detail-shown).half-first {
        height: 45% !important;

        div.type, div.time {
          display: none;
        }

        div.name {
          margin-top: 0;
          font-size: $small-font-size;
        }
      }

      &.half-first + .event:not(.detail-shown).half {
        top: auto !important;
        bottom: 0;
      }

      &:not(.detail-shown).third,
      &:not(.detail-shown).third-first {
        height: 30% !important;

        div.type, div.time {
          display: none;
        }

        div.name {
          margin-top: -5px;
          font-size: $xsmall-font-size;
        }
      }

      &.third-first + .event:not(.detail-shown).third {
        top: 35% !important;
      }

      &.third-first + .third + .event:not(.detail-shown).third {
        top: auto !important;
        bottom: 0;
      }

      &:not(.detail-shown).quarter, &:not(.detail-shown).quarter-first {
        height: 20% !important;

        div.type, div.time, div.name {
          display: none;
        }
      }

      &.quarter-first + .event:not(.detail-shown).quarter {
        top: 27% !important;
      }

      &.quarter-first + .quarter + .event:not(.detail-shown).quarter {
        top: 54% !important;
      }

      &.quarter-first + .quarter + .quarter + .event:not(.detail-shown).quarter {
        top: auto !important;
        bottom: 0 !important;
      }

      &.from-bottom.detail-shown {
        top: auto !important;
        bottom: 0 !important;
        position: absolute;
      }
    }
  }

  // Vertical

  div.table.vertical div.day div.events, div.table.mobile div.day div.events {
    div.event {
      &:not(.detail-shown).half,
      &:not(.detail-shown).half-first {
        width: 50% !important;
        padding-right: 5px;
      }

      &.half-first + div.event:not(.detail-shown).half {
        left: auto !important;
        right: 0;
        padding-left: 5px;
        padding-right: 10px;
      }

      &:not(.detail-shown).third,
      &:not(.detail-shown).third-first {
        width: 33% !important;
        padding-right: 5px;

        .time {
          font-size: $small-font-size;
        }
      }

      &.third-first + div.event:not(.detail-shown).third {
        left: 33% !important;
        padding-left: 5px;
        padding-right: 5px;
      }

      &.third-first + div.event.third + div.event:not(.detail-shown).third {
        left: auto !important;
        right: 0;
        padding-left: 5px;
        padding-right: 10px;
      }

      &:not(.detail-shown).quarter, &:not(.detail-shown).quarter-first {
        width: 25% !important;
        padding-left: 5px;
        padding-right: 5px;

        div.type, div.time {
          display: none;
        }

        div.name {
          font-size: 11px;
        }
      }

      &:not(.detail-shown).quarter-first {
        padding-left: 10px;
      }

      &.quarter-first + .event:not(.detail-shown).quarter {
        left: 25% !important;
      }

      &.quarter-first + .quarter + .event:not(.detail-shown).quarter {
        left: 50% !important;
      }

      &.quarter-first + .quarter + .quarter + .event:not(.detail-shown).quarter {
        left: auto !important;
        right: 0 !important;
        padding-right: 10px;
      }
    }
  }
}
