#fittable {

  // Vertical
  .table--vertical .events .event {

    // Half
    &.half,
    &.half-first {
      width: 50%;

      &:not(.is-opened) .time,
      &:not(.is-opened) .room {
        display: none;
      }

      &:not(.is-opened) .name {
        font-size: 13px;
      }
    }

    &.half-first { padding-right: $events-gutter/2; }

    &.half-first + .event.half {
      left: auto;
      right: 0;
      padding-left: $events-gutter/2;
    }

    // Third
    &.third,
    &.third-first {
      width: 33%;

      &:not(.is-opened) .name {
        font-size: 13px;
      }

      &:not(.is-opened) .time,
      &:not(.is-opened) .room {
        display: none;
      }
    }

    &.third-first { padding-right: $events-gutter/2; }

    &.third-first + .event.third {
      left: 33%;
      padding: $events-gutter/2;
    }

    &.third-first + .third + .event.third {
      left: auto;
      right: 0;
      padding-left: $events-gutter/2;
    }

    // Quarter
    &.quarter,
    &.quarter-first {
      width: 25%;

      &:not(.is-opened) .time,
      &:not(.is-opened) .room {
        display: none;
      }

      &:not(.is-opened) .name,
      &:not(.is-opened) .type {
        font-size: 10px;
      }
    }

    &.quarter-first { padding-right: $events-gutter/2; }

    &.quarter-first + .event.quarter {
      left: 25%;
      padding: $events-gutter/2;
    }

    &.quarter-first + .quarter + .event.quarter {
      left: 50%;
      padding: $events-gutter/2;
    }

    &.quarter-first + .quarter + .quarter + .event.quarter {
      left: auto;
      right: 0;
      padding-left: $events-gutter/2;
    }
  }

  // Horizontal
  .table--horizontal .events .event {

    // Half
    &.half,
    &.half-first {
      height: 50%;

      &:not(.is-opened) .name {
        font-size: 14px;
        margin-top: 0;
      }

      &:not(.is-opened) .type {
        font-size: 10px;
        bottom: 7px;
        left: 10px;
      }

      &:not(.is-opened) .time {
        font-size: 10px;
      }

      &:not(.is-opened) .room {
        display: none;
      }
    }

    &.half-first { padding-bottom: $events-gutter/4; }

    &.half-first + .event.half {
      top: auto;
      bottom: 0;
      padding-top: $events-gutter/4;
    }

    // Third
    &.third,
    &.third-first {
      height: 33%;

      &:not(.is-opened) .name {
        font-size: 12px;
        margin-top: -2px;
        margin-right: -3px;
      }

      &:not(.is-opened) .type,
      &:not(.is-opened) .time,
      &:not(.is-opened) .room {
        display: none;
      }
    }

    &.third-first { padding-bottom: 0; }

    &.third-first + .event.third {
      top: 33%;
      padding: $events-gutter/2;
    }

    &.third-first + .third + .event.third {
      top: auto;
      bottom: 0;
      padding-top: 2px;
    }

    // Quarter
    &.quarter,
    &.quarter-first{
      height: 25%;

      &:not(.is-opened) .name {
        font-size: 9px;
        margin-top: -4px;
      }

      &:not(.is-opened) .type,
      &:not(.is-opened) .time,
      &:not(.is-opened) .room {
        display: none;
      }
    }

    &.quarter-first { padding-bottom: 0; }

    &.quarter-first + .event.quarter {
      top: 25%;
      padding-top: $events-gutter/1.5;
      padding-bottom: $events-gutter/3;
    }

    &.quarter-first + .quarter + .event.quarter {
      top: 50%;
      padding-bottom: $events-gutter/1.5;
      padding-top: $events-gutter/3;
    }

    &.quarter-first + .quarter + .quarter + .event.quarter {
      top: auto;
      bottom: 0;
      padding-top: 0;
    }
  }
}
