#fittable .table .events .event {

  .detail {
    visibility: hidden;
    background: white;
    clear: both;
    min-height: 0;
    height: 0;
    color: #222;
    width: inherit;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .wrap {
      padding: 20px;
    }

    $value-font-size: 15px;

    button {
      @extend %btn-link;
    }

    .prop-section {

      &:not(.teachers) {
        margin-bottom: 13px;
        padding-bottom: 13px;
        border-bottom: 1px solid #ddd;
      }
    }

    .prop-title {
      color: $dark-secondary-text-color;
      text-transform: lowercase;
    }

    .basic-props {
      .type-num {
        color: $dark-secondary-text-color;
      }

      .name {
        font-size: 15px;
      }

      .location button {
        color: $body-font-color;

        i.fa {
          margin-right: 3px;
        }

        &:hover {
          opacity: .7;
        }
      }
    }

    .exceptions {
      .reveal {
        color: $body-font-color;

        i.fa {
          margin-right: 5px;
        }

        i.fa.ex-icon {
          color: #cd8f47;
        }

        &:hover {
          opacity: .7;
        }
      }
    }

    .num-props {
      position: relative;
      min-height: 50px;

      .num-prop {
        float: none !important;
        top: 0;

        .value {
          font-size: $value-font-size;
        }

        &.left {
          width: 33%;
          position: absolute;
          left: 0;
        }

        &.center {
          width: 33%;
          margin: auto;
          text-align: center;
        }

        &.right {
          width: 33%;
          position: absolute;
          right: 0;
          text-align: right;
        }
      }
    }

    .teachers {

      .reveal {
        color: $body-font-color;
        font-size: $value-font-size;
        margin-left: 32px;

        i.fa {
          margin-right: 8px;
        }

        i.fa:first-of-type {
          margin-left: -32px;
        }

        &:hover {
          opacity: .7;
        }
      }

      .hideable {
        margin: 3px 0px 7px 34px;
      }
    }
  }

  @keyframes open {
    0% {
      transform: scaleX(1) scaleY(.25);
    }

    100% {
      transform: scale(1);
    }
  }

  &.is-opened {
    width: 300px !important;
    height: auto !important;
    z-index: 999;
    overflow: hidden;
    animation: open $events-move-anim-speed ease-out;

    .detail {
      visibility: visible;
      opacity: 1;
      min-height: 180px;
      height: auto;
      margin: 0 0 5px 0;
    }

    .type {
      display: none;
    }
  }
}


@keyframes open-mobile {
  from {
    transform: scaleX(1) scaleY(.3);
  }

  to {
    transform: scale(1);
  }
}

#fittable .table.table--small .events .event.is-opened {
  width: 100% !important;
  animation-name: open-mobile;
}
