#fittable .events {
  width: 100%;
  float: left;
  position: relative;
  height: 93%;
  margin: 0;

  .event {
    position: absolute;
    padding: $events-gutter/2 $events-gutter;
    z-index: 99;
    height: 100%;
    box-sizing: border-box;
    transition: opacity $default-anim-speed;
    transform-origin: 0 0;

    &.hide, &:not(.is-opened).hide {
      display: block;
      opacity: 0 !important;
    }

    .inner {
      background: $primary-color;
      color: white;
      height: 100%;
      @include background-hover-effect( $primary-color );
      padding: 5px 10px;
      overflow: hidden;
      position: relative;

      & > .name {
        font-size: $xlarge-font-size;
        font-weight: 300;
        text-align: right;
        margin-top: 5px;
        @include disable-selection();
      }

      & > .time {
        font-size: $xsmall-font-size;
        text-align: right;
        @include disable-selection();
      }

      & > .type {
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-size: $small-font-size;
        font-weight: 700;
        border-left: 2px solid white;
        padding-left: 5px;
        line-height: 1.2;
        @include disable-selection();
      }
    }

    &:not(.event--cancelled) .cancelflag {
      display: none;
    }

    &:not(.event--replacement) .replaceflag {
      display: none;
    }

    .cancelflag, .replaceflag {
      color: white;
      opacity: .5;
      font-size: 48px;
      position: absolute;
      top: -10px;
      left: -10px;
    }

    &--cancelled .inner {
      border-top: 3px dashed rgba(white, .5);
      background: $third-color;
      color: white;
    }

    &--replacement .inner {
      border-top: 3px dashed rgba(white, .5);
      color: white;
    }

    &:not(.hide) div.inner div.head-space {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    &:not(.is-opened) div.inner div.head-space {
      height: 100%;
    }

    &.detail-shown div.inner div.head-space {
      height: $day-row-height - ($day-row-padding * 2);
      background: transparent;
      transition: background $default-anim-speed;

      &:hover {
        background: rgba( white, 0.1 );

      }
    }
  }
}
