#fittable .table {
  position: relative;
  clear: left;
  width: 100%;

  &--cut { width: 75%; }

  @media screen and (max-width: 1200px) {
    &--cut { width: 60%; }
  }

  &--muted {
    .grid-wrapper,
    .now-indicator,
    .label,
    .hour-labels,
    .event:not(.is-opened){ opacity: .3; }
    .days .day:nth-child(odd) { background: rgba($secondary-color, .3); }
  }

  .day {
    max-height: $vertical-layout-day-height;
    background: white;
    color: $primary-color;
    height: $vertical-layout-day-height;
    width: 20%;
    float: left;

    .label {
      display: block;
      background: none;
      text-align: left;
      color: $primary-color;
      position: relative;
      z-index: 12;
      float: none;
      width: 100%;
      line-height: 1.7;
      height: 7%;
      margin: 0;
      padding: $day-row-padding;
      overflow: hidden;
      @include disable-selection();

      span {
        padding: 5px 0 5px 20px;
        margin-left: -18px;
      }
    }

    .day-num {
      display: inline;
      font-weight: bold;
      margin-right: 5px;
    }

    &.active {
      .day-num {
        font-weight: 700;
        border-left: 4px solid $primary-color;
        margin-left: -14px;
        padding-left: 14px;
      }

      .day-num {
        font-weight: 700;
      }
    }
  }

  &--7days .day {
    width: 14.28%;
  }

  .event .type {
    bottom: 15px;
  }

  .day:nth-child(odd) {
    background: $light-secondary-color;
  }

  .a-left .events { animation: week-move-left ease $events-move-anim-speed; }
  .a-right .events { animation: week-move-right ease $events-move-anim-speed; }

  .grid-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  .grid-wrapper {
    width: 100%;
    height: 93%;
    position: relative;
    left: 0;
    top: 7%;
    padding: 0 $day-row-padding;
  }

  .grid {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .now-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 107%;
    z-index: 7;
    border-right: 1px solid $primary-color;
    opacity: .5;
    @include disable-selection();
  }

  .hour-labels {
    @include disable-selection();
    overflow: hidden;
    z-index: 10;
    left: -2.5rem;
    top: 7%;
    width: 2rem;
    position: absolute;
    height: 93%;
    text-align: right;
  }

  .hour-label {
    position: absolute;
    color: $lightgraytext-color;
    font-size: $small-font-size;
    text-align: right;
    left: 0;
    width: 25px;
    margin-top: -10px;
  }

  .event {
    &.hide, &:not(.detail-shown).hide {
      display: block;
      opacity: 0 !important;
    }
  }
}
