div#fittable div.table.vertical, div#fittable div.table.mobile {

  div.day {
    height: $vertical-layout-day-height;
    width: 20%;
    float: left;
    transition: height $layoutchange-anim-speed;

    div.label {
      float: none;
      width: 100%;
      line-height: 1.7;
      height: 7%;
      margin: 0;
      padding: $day-row-padding;
    }

    div.events {
      height: 93%;
      width: 100%;
      margin: 0;

      div.event {
        left: 0 !important;
        width: 100% !important;
        padding: 5px 10px;

        .type {
          bottom: 15px;
        }

        &.detail-shown {
          width: 300px !important;
        }
      }

    }
  }

  div.grid-overlay {
    height: 720px;

    .grid-wrapper {
      width: 100%;
      height: 93%;
      left: 0;
      top: 7%;
      padding: 0 $day-row-padding;
    }

    .grid {
      $grid-color: rgba( 0, 0, 0, .1 );
      background-color: transparent;
      background-image: linear-gradient(180deg, $grid-color 0px, $grid-color $grid-line-width, transparent $grid-line-width);
      width: 100%;
      height: 100%;
    }

    .grid.hor {
      display: none;
    }

    .grid.ver {
      display: block;
    }
  }

  .now-indicator {
    border-right: none;
    border-bottom: 1px solid $nowindicator-color;

    &.horizontal {
      display: none;
    }

    &::after {
      top: auto;
      right: auto;
      bottom: -3px;
      left: -2px;
    }
  }

  .hour-labels {
    float: none;
    width: 25px;
    position: absolute;
    left: -35px;
    top: 7%;
    padding: 0;
    height: 93%;

    .hour-label {
      left: 0px !important;
      margin-top: -10px;
      width: 25px !important;
      text-align: right;
    }
  }
}

// Horizontal inner elements minimalization
#fittable div.table.vertical div.day div.events {
  div.event:not(.detail-shown) {
    &.min-light {
      .time {
        display: none !important;
      }
    }

    &.min-hard {
      .type, .time {
        display: none !important;
      }

      .name {
        font-size: $small-font-size !important;
      }
    }

    &.min-all {
      .type, .time, .name {
        display: none !important;
      }
    }
  }
}
