#fittable {

  // Small screen
  @media #{$small-down} {

    .week-nav {
      width: 100%;
    }

    .week-nav-btn {
      width: 25%;
    }

    .week-nav-btn.week-nav-calendar {
      width: 50%;
    }
  }
}
