#fittable {
  .week-nav {
    float: left;
    z-index: 420;
  }

  .week-nav-btn {
    background: $primary-color;
    width: 35px;
    height: 35px;
    color: white;
    text-align: center;
    line-height:  $header-elements-weight;
    font-size: $large-font-size;
    @include background-hover-effect($primary-color);
    @include upcase;

    &.week-nav-calendar {
      width: 170px;
    }
  }

  .view-date {
    float: left;
    position: relative;
    margin-left: 15px;
    color: $primary-color;
    line-height: 35px;
  }

  @media #{$large-up} {
    .week-toggle-dow {
      display: none;
    }

  }
}
