<!doctype html>
<html lang="cs">
    <head>
        <title>fittable development environment</title>
        <meta charset="utf-8">
        <meta name="keywords" content="fittable, cvut fit, timetable">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link type="text/css" rel="stylesheet" href="../css/fittable.css">
    </head>
    <body>

        <header class="row">
            <div class="user-menu">
                <div class="user"><a href="#">Bartoloměj Dlouhojmenný <i class="fa fa-caret-down"></i></a></div>
                <a href="#" class="logout"><i class="fa fa-power-off"></i></a>
            </div>
            <h1>rozvrh místnosti T9:105</h1>
            <div class="sub-header">B142 letní semestr 2014/15</div>
        </header>

        <section id="fittable-area" class="row">

            <!-- fittable widget area start -->

            <div id="fittable" class="horizontal one-colored" data-js-generated>

                <div class="header">
                    <div class="flags hide">
                        <a href="#" class="flags-selection"><i class="fa fa-flag"></i><i class="fa fa-caret-up"></i></a>
                    </div>
                    <div class="flags-selector">
                        <ul class="flags" data-js-filled></ul>
                    </div>
                    <div class="search">
                        <form action="?" method="get">
                            <label for="search" class="icon"><i class="fa fa-search"></i></label>
                            <input type="text" id="search" name="search" placeholder="Hledat">
                        </form>
                    </div>

                    <div class="week">
                        <a href="#" class="date-selection">
                            <strong class="week-text">Týden 2</strong>
                            <span class="week-parity-text">Sudý</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </div>
                    <div class="date-selector hide">
                        <span class="label">Týden</span>
                        <ul class="week-selection" data-js-filled></ul>
                        <span class="label">Měsíc</span>
                        <ul class="month-selection" data-js-filled></ul>
                        <span class="label">Semestr</span>
                        <ul class="semester-selection" data-js-filled></ul>
                    </div>
                    <div class="week-switching">
                        <a href="#" class="previous-week"><i class="fa fa-chevron-left"></i></a>
                        <a href="#" class="next-week"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>

                <div class="table">
                    <div class="grid-overlay"><div class="grid"></div></div>
                    <div class="day" data-day="0">
                        <div class="label"><span class="day-name">pondělí</span></div>
                        <div class="events">
                            <div class="event" data-event="3215456" style="width:14.63%;left:83.9%">
                                <div class="inner">
                                    <div class="name">BI-PA2</div>
                                    <div class="time">12:45-14:15</div>
                                    <div class="type">CV</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day" data-day="1">
                        <div class="label"><span class="day-name">úterý</span></div>
                        <div class="events">
                            <div class="event" data-event="3215456" style="width:14.63%;left:25.2%">
                                <div class="inner">
                                    <div class="name">BI-PA2</div>
                                    <div class="time">12:45-14:15</div>
                                    <div class="type">CV</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day" data-day="2">
                        <div class="label"><span class="day-name">středa</span></div>
                        <div class="events">
                            <div class="event" data-event="3215456" style="width:14.63%;left:0%">
                                <div class="inner">
                                    <div class="name">BI-LIN</div>
                                    <div class="time">9:15 - 10:45</div>
                                    <div class="type">CV</div>
                                </div>
                            </div>
                            <div class="event" data-event="3215456" style="width:14.63%;left:33.6%">
                                <div class="inner">
                                    <div class="name">BI-ZUM</div>
                                    <div class="time">12:45 - 14:15</div>
                                    <div class="type">LAB</div>
                                </div>
                            </div>
                            <div class="event" data-event="3215456" style="width:14.63%;left:50.3%">
                                <div class="inner">
                                    <div class="name">BI-LIN</div>
                                    <div class="time">12:45 - 14:15</div>
                                    <div class="type">PŘ</div>
                                </div>
                            </div>
                            <div class="event" data-event="3215456" style="width:14.63%;left:67%">
                                <div class="inner">
                                    <div class="name">BI-PA2</div>
                                    <div class="time">16:15 - 17:45</div>
                                    <div class="type">PŘ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day active" data-day="3">
                        <div class="label"><span class="day-name">čtvrtek</span></div>
                        <div class="events">
                            <div class="event" data-event="3215456" style="width:14.63%;left:58.6%">
                                <div class="inner">
                                    <div class="name">BI-PA2</div>
                                    <div class="time">12:45-14:15</div>
                                    <div class="type">CV</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day" data-day="4">
                        <div class="label"><span class="day-name">pátek</span></div>
                        <div class="events">

                        </div>
                    </div>
                </div>

                <div class="footer">
                    <img src="fittable-logo.png" alt="Logo fittable" class="logo">
                    <ul>
                        <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
                        <li><a href="#">Více informací</a></li>
                        <li><a href="#">Provozovatel</a></li>
                        <li><a href="#">Sirius</a></li>
                        <li><a href="#">Report bug</a></li>
                    </ul>
                    <div class="build-info">
                        <strong>fittable v1.0-beta</strong> Fakulta informačních technologií, České vysoké učení technické v Praze, &copy; 2015
                    </div>
                </div>

            </div>

            <!-- fittable widget area end -->

        </section>

        <script src="js/main.js" type="text/javascript"></script>
    </body>
</html>
