<div id="fittable" class="horizontal one-colored" data-js-generated>

    <div class="header">
        <div class="function-controls search">
            <input type="text" name="search" class="search-input" placeholder="Hledat">
        </div>
        <div class="functions-links">
            <a href="#" class="flags-function"><i class="fa fa-flag"></i></a>
            <a href="#" class="search-function"><i class="fa fa-search"></i></a>
        </div>

        <div class="flags-selector">
            <ul class="flags" data-js-filled></ul>
        </div>

        <div class="week">
            <a href="#" class="date-selection">
                <strong class="week-text">Týden 2</strong>
                <span class="week-parity-text">Sudý</span>
                <i class="fa fa-caret-down"></i>
            </a>
        </div>
        <div class="date-selector hide">
            <span class="label">Týden</span>
            <ul class="week-selection" data-js-filled></ul>
            <span class="label">Měsíc</span>
            <ul class="month-selection" data-js-filled></ul>
            <span class="label">Semestr</span>
            <ul class="semester-selection" data-js-filled></ul>
        </div>
        <div class="week-switching">
            <a href="#" class="previous-week"><i class="fa fa-chevron-left"></i></a>
            <a href="#" class="next-week"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>

    <div class="table">
        <div class="grid-overlay"><div class="grid"></div></div>
        <div class="day" data-day="0">
            <div class="label"><span class="day-name">pondělí</span></div>
            <div class="events">
            </div>
        </div>
        <div class="day" data-day="1">
            <div class="label"><span class="day-name">úterý</span></div>
            <div class="events">
            </div>
        </div>
        <div class="day" data-day="2">
            <div class="label"><span class="day-name">středa</span></div>
            <div class="events">
            </div>
        </div>
        <div class="day active" data-day="3">
            <div class="label"><span class="day-name">čtvrtek</span></div>
            <div class="events">
            </div>
        </div>
        <div class="day" data-day="4">
            <div class="label"><span class="day-name">pátek</span></div>
            <div class="events">
            </div>
        </div>
    </div>

</div>
