@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

// Colors
$darkgraytext-color: #444;
$lightgraytext-color: #aaa;
$lightgrayback-color: #f8f8f8;
$grid-color: rgba( $secondary-color, 0.75 );
$dark-secondary-text-color: #708898;

// Font properties
$xlarge-font-size: 18px;
$large-font-size: 14px;
// base font size set in _settings to 13px
$small-font-size: 12px;
$xsmall-font-size: 11px;

// Anim speeds
$default-anim-speed: .1s;
$event-rollout-anim-speed: .2s;
$events-move-anim-speed: .2s;
$layoutchange-anim-speed: .5s;

// Elements dimensions
$header-elements-weight: 35px;
$day-row-height: 105px;
$day-row-padding: 12px;
$vertical-layout-day-height: 960px;
$nowindicator-thickness: 2px;

$mobile-heading-height: 50px;

$events-gutter: 8px;

// Other
$grid-line-width: 1.5px;

#fittable {
  position: relative;
}

@media #{$medium-up} {
  .row.container {
    padding: 0 20px;
  }
}

@media #{$large-up} {
  .row.container {
    padding: 0 30px;
  }

  .row.container.compact {
    max-width: 1850px !important
  }

  body.with-line {
    border-top: 3px solid $primary-color;
  }
}

@media #{$xxlarge-up} {
  .row {
    max-width: 1500px;
  }
}

// WP history swipe hack ( disable swiping right and left handling )
* {
  touch-action: pan-y;
}

// Highlight color
::selection, ::-moz-selection {
  background: $primary-color;
  color: white;
}

// iOS header
@media #{$small-down} {
  body.ios-bg {
    background-color: $primary-color;
  }

  .fittable-container {
    background: white;
    padding-bottom: 30px;
  }
}
