@import "components/error";
@import "components/flags-control";
@import "components/footer";
@import "components/function-filter";
@import "components/functions-bar";
@import "components/functions-bar-responsive";
@import "components/search";
@import "components/function-settings";
@import "components/functions-sidebar";
@import "components/functions-sidebar-responsive";
@import "components/grid";
@import "components/header";
@import "components/header-responsive";
@import "components/landing-page";
@import "components/spinner";
@import "components/table-appearances";
@import "components/table-animations";
@import "components/table-events-colors";
@import "components/table-events-detail";
@import "components/table-events";
@import "components/table";
@import "components/table-responsive";
@import "components/table-horizontal";
@import "components/week-nav";
@import "components/week-nav-responsive";
@import "components/week-switcher";
@import "components/SidebarIcal";
@import "components/SemesterWeek";

@import "components/signpost-page";
