#fittable {
  button {
    // reset-box-model
    margin: 0;
    padding: 0;
    border: 0;
    // reset-font
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
    text-align: left;
    -webkit-appearance: none;
    // reset border-radius for mobile FF
    border-radius: 0;

    &:focus {
      outline: 0;
    }
  }
}
