section#timetable {
    $cols-width: 15;
    
    & > .row.collapse {
        position: relative;
    }
 
    .row.day.tt-row {
        min-height: 80px;
        
        @media #{$medium-only} {
            min-height: 70px;
        }
        
        &:nth-child(odd)  {
            background: $light-color;
            
            .day-parallels .parallel .public-stats {
                color: $light-color;
            }
        }
        
        .day-name {
            color: $primary-color;
            font-size: 11pt;
            padding-top: 24px;
            
            @media #{$small-only} {
                text-align: center; 
                padding: 20px 0px;
                font-size: 20pt;
                font-weight: 300;
            }
        }
        
        .day-parallels {
            position: relative;
            
            @media #{$small-only} {
                height: 70*15px;
                background: linear-gradient(
                  to bottom,
                  $light-color,
                  $light-color 50%,
                  #fff 50%,
                  #fff
                );

                background-size: 100% 140px;
            }
            
            .parallel {
                color: white;
                height: 70px;
                overflow: hidden;
                position: absolute;
                left: 0px;
                top: 0px;
                margin: 5px 0px;
                z-index: 700;
                transition: width 1s;
                
                .inner-item {
                    background: $primary-color;
                    padding: 8px 14px 0px 0px;
                    overflow: hidden;
                    text-align: right;
                    height: 70px;
                    margin: 0px 2.5px;
                    position: relative;
                    cursor: pointer;
                    
                    &.has-public {
                        border-top-left-radius: 4px;
                    }
                }
                
                h1 {
                    font-size: 13pt;
                    font-weight: 400;
                    color: white;
                    margin: 0px;
                    line-height: 20px;
                }
                
                .place, .time {
                    font-size: 8pt;
                    line-height: 15px;
                }
                
                .public-stats {
                    position: absolute;
                    top: -6px;
                    left: -2px;
                    font-size: 20px;
                    color: white;
                }
                
                .flag {
                    position: absolute;
                    top: 0px;
                    left: 18px;
                    font-size: 32px;
                    line-height: 70px;
                    color: white;
                    
                    @media #{$medium-only} {
                        line-height: 60px;
                        font-size: 18px;
                    }
                }
                
                @media #{$medium-only} {
                    height: 60px;
                    
                    .inner-item {
                        padding: 4px 7px 0px 0px;
                    }
                    
                    h1 {
                        font-size: 11pt;
                        line-height: 17px;
                    }
                }
            }

            .parallel.parallel-secondary { 
                .inner-item {
                    background: #444;
                }
            }

            @media #{$medium-up} {
            
                .parallel.parallel-single { 
                    width: percentage(1/($cols-width));
                    h1 { font-size: 8pt; font-weight: $font-weight-bold; }
                }

                .parallel.parallel-double { width: percentage(1/($cols-width/2)); }
                .parallel.parallel-3 { width: percentage(1/($cols-width/3)); }
                .parallel.parallel-4 { width: percentage(1/($cols-width/4)); }
                .parallel.parallel-5 { width: percentage(1/($cols-width/5)); }

                .parallel.parallel-offset-1 { left: percentage((1/$cols-width)*1); }
                .parallel.parallel-offset-2 { left: percentage((1/$cols-width)*2); }
                .parallel.parallel-offset-3 { left: percentage((1/$cols-width)*3); }
                .parallel.parallel-offset-4 { left: percentage((1/$cols-width)*4); }
                .parallel.parallel-offset-5 { left: percentage((1/$cols-width)*5); }
                .parallel.parallel-offset-6 { left: percentage((1/$cols-width)*6); }
                .parallel.parallel-offset-7 { left: percentage((1/$cols-width)*7); }
                .parallel.parallel-offset-8 { left: percentage((1/$cols-width)*8); }
                .parallel.parallel-offset-9 { left: percentage((1/$cols-width)*9); }
                .parallel.parallel-offset-10 { left: percentage((1/$cols-width)*10); }
                .parallel.parallel-offset-11 { left: percentage((1/$cols-width)*11); }
                .parallel.parallel-offset-12 { left: percentage((1/$cols-width)*12); }
                .parallel.parallel-offset-13 { left: percentage((1/$cols-width)*13); }
                
                .parallel.parallel-extended {
                    width: 300px;
                }
            }

            @media #{$small-only} {
                
                .parallel {
                    height: 70px;
                    overflow: hidden;
                    left: 0px;
                    top: 0px;
                    margin: 0px;
                    width: 100%;
                    padding: 10px 0px;
                    
                    .inner-item {
                        background: $primary-color;
                        padding: 4px 14px 0px 0px;
                        overflow: hidden;
                        text-align: right;
                        height: 100%;
                        margin: 0px 20px 0px 15%;

                    }
                }
                
                .parallel.parallel-single { 
                    height: 60px;
                }
                
                .parallel.parallel-double { height: 70*2px; }
                .parallel.parallel-3 { height: 70*3px; }
                .parallel.parallel-4 { height: 70*4px; }
                .parallel.parallel-5 { height: 70*5px; }
                
                .parallel.parallel-offset-1 { top: 70*1px; }
                .parallel.parallel-offset-2 { top: 70*2px; }
                .parallel.parallel-offset-3 { top: 70*3px; }
                .parallel.parallel-offset-4 { top: 70*4px; }
                .parallel.parallel-offset-5 { top: 70*5px; }
                .parallel.parallel-offset-6 { top: 70*6px; }
                .parallel.parallel-offset-7 { top: 70*7px; }
                .parallel.parallel-offset-8 { top: 70*8px; }
                .parallel.parallel-offset-9 { top: 70*9px; }
                .parallel.parallel-offset-10 { top: 70*10px; }
                .parallel.parallel-offset-11 { top: 70*11px; }
                .parallel.parallel-offset-12 { top: 70*12px; }
                
            }
            
        }
        
    }

    @media #{$small-only} {
     
        .row.day.tt-row:not(.shown-on-mobile) {
            display: none;
        }
    }

    .row.hours-labels {

        .parallel-hour-label {
            width: percentage(1/($cols-width));
            text-align: center;
            font-size: 8pt;
            color: $primary-color;
            margin: 5px 0px;
            float: left;
            opacity: .5;
        }
        
        @media #{$small-only} {
            position: absolute;
            top: 65px;
            left: 0px;
            
            .parallel-hour-label {
                width: 100%;
                text-align: left;
                line-height: 70px;
                margin: 0px;
                float: none;
                opacity: .5;
            }
        }
    }

    

    .time-indicator {
        opacity: 0.7;
        position: absolute;
        font-size: 8pt;
        color: $primary-color;
        z-index: 600;
        
        @media #{$small-only} {
            top: 236px;
            left: 0px;
            padding-left: 20px;
            width: 100%;
            display: block;

            strong {
                margin-right: 15px;
            }

            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 0 8px 16px;
                border-color: transparent transparent transparent $primary-color;
                position: absolute;
                left: 0px;
                top: 15px;
            }

            .line {
                position: absolute;
                top: 15px;
                left: 0px;
                width: 100%;
                height: 9px;
                border-bottom: 2px solid $primary-color;
            }
            
        }

        @media #{$medium-up} {
            left: 15%;
            top: 0px;

            .coming {
                display: inline-block;
                background: white;
                padding: 5px 10px 5px 25px;
                margin-top: 3*80px;
            }
            
            strong {
                display: none;
            }
            
            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16px 8px 0 8px;
                border-color: $primary-color transparent transparent transparent;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .line {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 9px;
                height: 80*5px;
                border-right: 2px solid $primary-color;
                
                @media #{$medium-only} {
                    height: 70*5px;
                }
            }
        }
    }

    .parallel-details {
        width: 295px;
        height: 400px;
        background: white;
        position: absolute;
        left: 102px;
        top: 154px;
        z-index: 900;
        padding: 0px 18px;
        
        .info-section {
            font-size: 9pt;
            padding: 15px 0px;
            
            &:not(.general-info) {
                border-top: 1px solid #ccc;
            }
        }
        
        .info-section.general-info {
            font-size: 8pt;
            color: #888;
            
            a {
                color: #888;
            }
            
            .column:first-child i {
                margin-right: 5px;
            }
            
            .column:last-child i {
                margin-left: 5px;
            }
        }
        
        .info-section.flag {
            
            .column:nth-child(1) {
                font-size: 12pt;
            }
            
            .column:nth-child(2) {
                font-weight: $font-weight-bold;
            }
            
            .column.date {
                text-align: right;
                color: #888;
            }
        }
        
        .info-section.public {
            
            .column.voting a {
                font-size: 8pt;
                line-height: 13px;
                color: #888;
                display: block;
                height: 13px;
            }
            
            .column.votenum {
                font-weight: $font-weight-bold;
                color: #333;
                padding-top: 2px;
            }
            
            .column.content {
                p {
                    font-size: 8pt;
                    margin-left: 10px;
                    margin-top: 4px;
                    margin-bottom: 0px;
                }
                
                small {
                    font-size: 7pt;
                    margin-left: 10px;
                    color: #888;
                }
            }
            
            .item {
                margin-bottom: 6px;
            }
            
            .item.invalid {
                opacity: .4;
                
                .column.votenum {
                    color: $primary-color;
                }
            }
        }
    }
}