@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,latin-ext);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$header-elements-weight: 35px;

$event-rollout-anim-speed: .2s;
$day-row-height: 85px;
$day-row-padding: 12px;

$vertical-layout-day-height: 720px;

@media #{$large-up} {
  .row {
    max-width: rem-calc(1700);
  }
}

@media #{$xlarge-up} {
  .row {
    max-width: rem-calc(1900);
  }
}
