@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,latin-ext);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

// Colors
$darkgraytext-color: #444;
$lightgraytext-color: #aaa;
$lightgrayback-color: #f8f8f8;

// Font properties
$xlarge-font-size: 18px;
$large-font-size: 14px;
// base font size set in _settings to 13px
$small-font-size: 12px;
$xsmall-font-size: 11px;

// Anim speeds
$default-anim-speed: .2s;
$event-rollout-anim-speed: .25s;
$events-move-anim-speed: .25s;
$layoutchange-anim-speed: .5s;

// Elements dimensions
$header-elements-weight: 35px;
$day-row-height: 85px;
$day-row-padding: 12px;
$vertical-layout-day-height: 720px;

// Other

@media #{$large-up} {
  .row {
    max-width: rem-calc(1700);
  }
}

@media #{$xlarge-up} {
  .row {
    max-width: rem-calc(1900);
  }
}
