@mixin upcase {
  text-transform: uppercase;
}

@mixin bold-up-text {
  font-weight: 700;
  text-transform: uppercase;
}

@mixin background-hover-effect($color) {
  transition: background .2s;

  &:hover {
    background-color: lighten( $color, 4% );
  }
}

@mixin disable-selection {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin active-light {
  color: $primary-color;
  background-color: $body-bg;
}

@mixin active-dark {
  color: $body-bg;
  background-color: $primary-color;
  @include background-hover-effect( $primary-color );
}

%btn-light {
  @include active-light;
}

%btn-dark {
  @include active-dark;
}
